html,body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
#container{
margin: 5px 20px;
    text-align:center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: #D3EAFD;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  text-align: center;
  min-height: 80px;
}

#searchbar{
    text-align:center;
    width:45%;
    padding:3px;
    margin:8px auto;
    font-size:30px;
}

.passname{
    font-weight:bold;
    font-size:20px;
}
.table{
    font-size:16px;
    margin: 20px auto;
    width:90%;
}
.table thead{
    border: 1px solid lightgray;
}

.table th{
    text-align:center !important;
    background: #e0e0e0;
}
.tbrow:nth-child(even){
    background:#f9f9f9;
}

.tbrow:hover{
    background-color:#52A8EC !important;
    color:white;
}

.logout_btn  {
  //float:right;
  background-color: #52A8EC;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(95,186,233,0.4);
  box-shadow: 2px 2px 6px 2px rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 8px 0px 0px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logout_btn:hover {
  background-color: #39ace7;
}

.logout_btn:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#pwdToggler{
    margin-left:3px;
}

.icon22:hover{
    -webkit-filter: drop-shadow(2px 2px 3px #222);
    filter: drop-shadow(2px 2px 3px #222);
}

.alert {
  padding: 12px;
  background-color: #f44336;
  color: white;
  font-size: 18px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.list{
    padding: 7px 0;
}

.revoke:hover{
      background: url('../img/revoke.png');
}

#sub_btn:disabled{
    background-color:lightgray !important;
    cursor:default;
}

#togglePass{
    position: absolute;
    right: 50px;
    color:gray;
    margin-top: 20px;
    margin-left: 3px;
    font-size: 20px;
}
#togglePass:hover{
    color:#5fbae9;
}