<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/favicon.ico') }}"/>
    <title>Create Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}"/>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
        <h3>Create Password</h3>
<!--      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
    </div>
    <!-- Login Form -->
    <form action="/submit_password" method="POST" onkeyup="Validate();">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="name*" autocomplete="off">
      <input type="text" id="host" class="fadeIn second" name="host" placeholder="host" autocomplete="off">
      <input type="text" id="username" class="fadeIn third" name="username" placeholder="username*" autocomplete="off">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password*" autocomplete="off">
        <a href="#" onclick="passwordToggler(this.id);" id="togglePass"><i title="Show Password" class="fas fa-eye"></i></a>
      <input type="password" id="password2" class="fadeIn third" name="password2" placeholder="password*" autocomplete="off">
      <input type="text" id="note" class="fadeIn third" name="note" placeholder="note" autocomplete="off">
      <input type="submit" id="sub_btn" class="fadeIn fourth" value="Create" disabled>
    </form>
      <i id="msg" style="padding:2px;">{{ msg }}</i>
    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" href="/">Back to Passwords</a>
    </div>

  </div>
</div>
</body>
<script src="{{ url_for('static', filename='./js/utils.js') }}"></script>
<script>
    function Validate() {
        name = document.getElementById('name').value;
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        password2 = document.getElementById('password2').value;
        if (name != "" && password != "" && password2 != "" && username != "") {
            if (password == password2){
                $('#sub_btn').removeAttr('disabled');
                $('#password')[0].style.borderBottomColor = '#32CD32';
                $('#password2')[0].style.borderBottomColor = '#32CD32';
            }
            else{
                $('#password')[0].style.borderBottomColor = 'red';
                $('#password2')[0].style.borderBottomColor = 'red';
                $('#sub_btn').attr('disabled','disabled');
            }
        }
        else{
           document.getElementById('msg').innerText = 'Fill in all the necessary fields!';
           $('#sub_btn').attr('disabled','disabled');
        }
    }

</script>
</html>