<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='./img/favicon.ico') }}"/>
    <title>Update Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}"/>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
        <h3>Update Password</h3>
<!--      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
    </div>
    <!-- Login Form -->
    <form action="/update_password" onsubmit="return Validate();" method="POST">
      <input type="text" id="id" class="fadeIn second" name="id" placeholder="id*" autocomplete="off" value="{{ pwd.pass_id }}" hidden>
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="name*" autocomplete="off" value="{{ pwd.name | none }}">
      <input type="text" id="host" class="fadeIn second" name="host" placeholder="host*" autocomplete="off" value="{{ pwd.host }}">
      <input type="text" id="username" class="fadeIn third" name="username" placeholder="username*" autocomplete="off" value="{{ pwd.username }}">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password*" autocomplete="off" value="{{ pwd.password | decryptor }}">
      <input type="text" id="note" class="fadeIn third" name="note" placeholder="note" autocomplete="off" value="{{ pwd.note | none }}">
      <input type="submit" id="sub_btn" class="fadeIn fourth" value="Save">
    </form>
      <i id="msg" style="padding:2px;">{{ msg }}</i>
    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" href="/">Back to Passwords</a>
    </div>

  </div>
</div>
</body>
<script>
    function Validate() {
        name = document.getElementById('name').value;
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        if (name != "" && password != "" && username != "") {
           return true;
        }
        else{
           document.getElementById('msg').innerText = 'Fill in all the necessary fields!';
           return false;
        }
    }
</script>
</html>